/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #f7f9fa;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Center everything */
.center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Name */
#name {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 300;
  color: #37474F;

  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.2s;
}

/* Info */
#info {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;

  display: flex;
  gap: 6px;

  opacity: 0;
  animation: fadeInUp 1.2s ease-out forwards;
  animation-delay: 0.6s;
}

/* Email link */
#email {
  color: #7a8a94;
  text-decoration: none;
}

/* Resume link */
#resume {
  color: #00BCD4;
  text-decoration: none;
}
#resume:hover {
  color: #006978;
}


/* Separator */
#sep {
  font-weight: 100;
  color: #7a8a94;
}

/* Fade animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#icons {
  position: fixed;
  bottom: 35px;
  right: 35px;

  display: flex;          /* ← key line */
  gap: 30px;              /* space between icons */
  align-items: center;
}

#linkedin img {
  width: 32px;
  height: 32px;
  opacity: 0;

  animation: fadeInUp 1s ease-out forwards;
  animation-delay: .6s;
}

#github img {
  width: 32px;
  height: 32px;
  opacity: 0;

  animation: fadeInUp 1s ease-out forwards;
  animation-delay: .6s;
}

/* Hover: pop-up + highlight */
#linkedin:hover {
  transform: scale(1.12); /* soft pop-up */
}

#github:hover {
  transform: scale(1.12); /* soft pop-up */
}


